textarea{
    width:670px;
    height:90px;
}
input[type='text']{
    width:670px;
    margin-bottom:7px;
}
select{
    margin-bottom:7px;
}
#selectEmailType{
	width: 210px;
}
#custom-logo-wrap{
	position: relative; 
	display: inline-block; 
	padding-top: 16px;
}
#custom-logo-wrap:hover #delete{
    display: block;
}
#uploadFile{
	width: 660px; 
	margin-bottom: 7px;
}
#delete{
	position: absolute; 
	top: 16px; 
	right: 0px; 
	background: #f7f7f7; 
	border: 1px solid #d5d5d5; 
	padding: 1px; 
	display: none;
}
.notes{
	font-style: italic;
	color: grey;
}
#startAt{
	width:50px;
	vertical-align: middle;
}